{{ define "title" -}}
{{ .Title | title }}
{{- end }}
{{ define "main" -}}
{{ .Content }}
<ul>
{{- range.Pages }}
	{{ $num_pages := len .Pages }}
	<li>
		{{- if .Param "datesinlist" }}
			{{ if gt $num_pages 0 }}
				Last post {{- range .Pages | first 1 }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"> {{ .Date.Format "2006 Jan 02" }}</time> &ndash; {{ end -}}
			{{ else }}
				<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006 Jan 02" }}</time> &ndash; {{ end }}
		{{ end -}}	
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
	</li>
{{- end }}
</ul>
{{- end }}
